<!DOCTYPE html>
<html>

<%- include('./head.ejs') %>

    <body>
        <%- include('./navigation.ejs') %>
       
        <h1>
            <%= title %>
        </h1>

        <div class="container ">
            <div class="row">
                <div class="col-md-7">
                    <table class="table table-dark table-bordered table-hover">
                        <thead>
                            <tr>
                              <td>Nº</td>
                              <td>Denominacion</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% oficinas.forEach(element => { %>
                                <tr>
                                    <td><%= element.id %></td>
                                    <td><%= element.denominacion %></td>
                                    <td class="d-flex gap-2">
                                        <a class="btn btn-dark" href="/del/<%= element.id %>" role="button">Borrar</a>
                                    </td>
                                </tr>
                                
                                <% }) %>
                        </tbody>
                        
                    </table>
                    <div>
                        <%- include('./add.ejs') %>
                    </div>


                </div>
                
                </div>
            </div>
        </div>

        
        
            
    </body>

</html>




            </table>
        </div>
    </div>
</div>



