<!DOCTYPE html>
<html>

<%- include('./head.ejs') %>

    <body>
        <%- include('./navigation.ejs') %>
        <h2>Personal</h2>

        <div class="container ">
            <div class="row">
                <div class="col-md-7">
                    <table class="table table-dark table-bordered table-hover">
                        <thead>
                            <tr>
                                <td>n°</td>
                                <td>Nombre</td>
                                <td>Email</td>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <% personas.forEach(element => { %>
                                <tr>
                                    <td><%= element.id %></td>
                                    <td><%= element.nombre %></td>
                                    <td><%= element.email %></td>
                                    <td class="d-flex gap-2">
                                        <a class="btn btn-dark" href="/edit/<%= element.id %>" role="button">Editar</a>
                                        <a class="btn btn-dark" href="/delete/<%= element.id %>" role="button">Borrar</a>
                                    </td>
                                </tr>
                                <% }) %>

                        </tbody>
                       
                    </table>


                </div>
                <div class="col-md-5">
                    <%- include('./agregar.ejs') %>
                </div>

                
                
            </div>
        </div>



        